body {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #222531;
  color: white;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
}

.gameArea {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.changeBackground {
  color: white;
  background-color: rgba(9, 20, 49, 0.525)
}

#images {
  height: 440px;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

input {
  text-align: center;
  font-size: 1em;
  margin-top: 15px;

}

#buttonBox {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.player {
  font-weight: bolder;
  color: #333194;
  font-size: 1.2em;
  outline: 3px;
  outline-color: white;
}

#notify {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bolder;
}

#notify img {
  height: 30px;
}